[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
xlrd = "*"
openpyxl = "*"
jupyter = "*"
notebook = "*"
jupyterlab = "*"
matplotlib = "*"
seaborn = "*"
requests = "*"

[requires]
python_version = "3.7"
